<TMPL_IF FORM1>
<style>
.datahidden {
        display:none;
}

.tiny {
        font-size:70%;
}

.small {
        font-size:80%;
}

.middle {
        font-size:120%;
}

.bold {
        font-weight: bold;
}

.grayed {
        color: gray;
}

.center {
        text-align: center;
}

.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        text-shadow: none;
}

.box {
        border: 1px solid black;
        border-radius: 5px 5px 5px 5px;
        padding: 5px;
}

.boxtitle {
        background-color: #6dac20;
        color: white;
        text-shadow: 1px 1px 2px black;
        border-radius: 5px 5px 5px 5px;
        padding: 5px;
        vertical-align: middle;
}

.boxrow {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
}

.boxitem {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
}

.servicestatus {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        gap: 0px 10px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-shadow: none;
}

.margin {
        margin: 10px;
}

.status {
        padding: 7px;
        box-sizing: border-box;
        border-radius: 5px 5px 5px 5px;
        background: #dfdfdf;
        border: 1px solid #7E7E7E;
        width: 170px;
        text-align: center;
}

.ui-popup-container
{
        width:  50%;
        height: 80%;
}

</style>

<div class="servicestatus">
        <div>
                <TMPL_VAR "SETTINGS.LABEL_SERVICE_STATUS">
        </div>
        <div class="status" id="servicestatus">
                <TMPL_VAR "SETTINGS.LABEL_UNKNOWN">
        </div>
        <div>
                <a href="#" onclick="servicerestart();return false;" class="ui-btn ui-icon-refresh ui-btn-icon-notext ui-corner-all">Refresh</a>
        </div>

</div>

<br><br>

<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi?form=1">
        <input type="hidden" name="saveformdata1" value="1">
                <table class="formtable" border="0" width="100%" cellpadding="10">
                        <tr>
                                <td colspan=3 width="75%" valign="middle">
                                        <h2><TMPL_VAR SETTINGS.LABEL_SETTINGS></h2>
                                </td>
                                <td align="right">
                                        &nbsp;
                                </td>

                        <tr>
                                <td width="25%">
                                        <label id="labellog"><TMPL_VAR SETTINGS.LABEL_ENABLE></label>
                                </td>
                                <td width="50%">
                                    <fieldset>
                                    <TMPL_VAR ENABLE>
                                    </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_ENABLE></font>
                                </td>
                        </tr>

                        <tr>
                                <td width="25%">
                                        <label id="labelversion"><TMPL_VAR SETTINGS.LABEL_VERSION></label>
                                </td>
                                <td width="50%">
                                    <fieldset>
                                    <TMPL_VAR VERSION>
                                    </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_VERSION></font>
                                </td>
                        </tr>

                        </tr>
                                <td width="25%">
                                        <label id="labelism8"><TMPL_VAR SETTINGS.LABEL_ISM8PORT></label>
                                </td>
                                <td width="50%">
                                        <input id="ism8port" name="ism8port" type="text" data-validation-rule="special:number-min-max-value:1:65000" class="textfield" value="<TMPL_VAR ism8i_port>"
                                        data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_PORT>">
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_ISM8PORT></font>
                                </td>
                        </tr>

                        <tr>
                                <td width="25%">
                                        <label id="labellog"><TMPL_VAR SETTINGS.LABEL_DP_LOG></label>
                                </td>
                                <td width="50%">
                                    <fieldset>
                                    <TMPL_VAR DP_LOG>
                                    </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_DP_LOG></font>
                                </td>
                        </tr>
                        <tr>
                                <td width="25%">
                                        <label id="labelpull"><TMPL_VAR SETTINGS.LABEL_PULL_ON_WRITE></label>
                                </td>
                                <td width="50%">
                                    <fieldset>
                                    <TMPL_VAR PULL_ON_WRITE>
                                    </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_PULL_ON_WRITE></font>
                                </td>
                        </tr>
                        <tr>
                                <td width="25%">
                                        <label id="labelpull"><TMPL_VAR SETTINGS.LABEL_ONLINE_TIMEOUT></label>
                                </td>
                                <td width="50%">
                                    <input id="online_timeout" name="online_timeout" type="text" data-validation-rule="special:number-min-max-value:-1:65000" class="textfield" value="<TMPL_VAR ONLINE_TIMEOUT>"
                                    data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_ONLINE_TIMEOUT>">
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_ONLINE_TIMEOUT></font>
                                </td>
                        </tr>

                        <tr>
                                <td colspan=3 width="75%" valign="middle">
                                        <h2><TMPL_VAR SETTINGS.LABEL_MQTT></h2>
                                </td>
                                <td align="right">
                                        &nbsp;
                                </td>
                        </tr>
                        <tr>
                                <td width="25%">
                                        <label id="labellog"><TMPL_VAR SETTINGS.LABEL_MQTT></label>
                                </td>
                                <td width="50%">
                                    <fieldset>
                                    <TMPL_VAR MQTT>
                                    </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_MQTT></font>
                                </td>
                        </tr>

                        <tr>
                                <td colspan=3 width="75%" valign="middle">
                                        <h2><TMPL_VAR SETTINGS.LABEL_TCP_UDP></h2>
                                </td>
                                <td align="right">
                                        &nbsp;
                                </td>
                        </tr>
                        <tr>
                                <td width="25%">
                                        <label id="labellog"><TMPL_VAR SETTINGS.LABEL_TCP_UDP></label>
                                </td>
                                <td width="50%">
                                    <fieldset>
                                    <TMPL_VAR TCP_UDP>
                                    </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_TCP_UDP></font>
                                </td>
                        </tr>
                        <tr>
                                <td width="25%">
                                        <label id="labelms"><TMPL_VAR SETTINGS.LABEL_MS></label>
                                </td>
                                <td width="50%">
                                        <fieldset>
                                        <TMPL_VAR MS>
                                        </fieldset>
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_MS></font>
                                </td>
                        </tr>
                        <tr>
                                <td width="25%">
                                        <label id="labelmsudp"><TMPL_VAR SETTINGS.LABEL_MS_UDPPORT></label>
                                </td>
                                <td width="50%">
                                        <input id="msudpport" name="msudpport" type="text" data-validation-rule="special:number-min-max-value:1:65000" class="textfield" value="<TMPL_VAR multicast_port>"
                                        data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_UDPPORT>">
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_MS_UDPPORT></font>
                                </td>
                        </tr>
                        </tr>
                                <td width="25%">
                                        <label id="labelin"><TMPL_VAR SETTINGS.LABEL_INPORT></label>
                                </td>
                                <td width="50%">
                                        <input id="inport" name="inport" type="text" data-validation-rule="special:number-min-max-value:1:65000" class="textfield" value="<TMPL_VAR input_port>"
                                        data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_PORT>">
                                </td>
                                <td width="5%" valign="middle">
                                        &nbsp;
                                </td>
                                <td width="20%">
                                        <font size="-1"><TMPL_VAR SETTINGS.HINT_INPORT></font>
                                </td>
                        </tr>
                        <tr>
                                <td colspan=4>
                                &nbsp;
                                </td>
                        </tr>
                </table>

                <br><br>

        <p>
                &nbsp;
        </p>
        <p>
                <center>
                        <a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="./index.cgi?form=1"><TMPL_VAR SETTINGS.BUTTON_CANCEL></a>
                        <button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.BUTTON_SAVE></button>
                </center>
        </p>

</form>

<script>
// Add some attributes PERL::CGI doesn't provide
$('select[name=cron').attr('data-mini','true');
$('#dplog').attr('data-role','flipswitch');
$('#pull_on_write').attr('data-role','flipswitch');
$('#enable').attr('data-role','flipswitch');
$('#tcp_udp').attr('data-role','flipswitch');
$('#mqtt').attr('data-role','flipswitch');
// Form Validation
$( document ).ready(function()
{
        validate_enable('#ism8port');
        validate_enable('#inport');
        validate_enable('#msudpport');
        validate_enable('#online_timeout');
});
</script>
</TMPL_IF>

<TMPL_IF FORM2>
<form method="post" data-ajax="false" name="input_output_form" id="input_output_form" action="./index.cgi?form=2">
        <input type="hidden" name="saveformdata2" value="1">
        <div style="display: grid;grid-gap: 10px;grid-template-columns: 1fr 1fr 1fr;">
            <TMPL_LOOP NAME=DEVICES>
            <input type="checkbox" id="device<TMPL_VAR INDEX>" name="device<TMPL_VAR INDEX>" value="<TMPL_VAR NAME>"><label for="device<TMPL_VAR INDEX>"><TMPL_VAR NAME></label>
            </TMPL_LOOP>
        </div>
<br><br>

<p>
&nbsp;
</p>
<p>
<center>
        <button type="submit" name="download_input" form="input_output_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.DOWNLOAD_INPUT></button>
        <button type="submit" name="download_output" form="input_output_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.DOWNLOAD_OUTPUT></button>
        <button type="submit" name="download_input_mqtt" form="input_output_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.DOWNLOAD_INPUT_MQTT></button>
        <button type="submit" name="download_output_mqtt" form="input_output_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.DOWNLOAD_OUTPUT_MQTT></button>
</center>
</p>

</form>
</TMPL_IF>

<TMPL_IF SAVE>
<center>
        <table border=0>
        <tr>
                <td align="center">
                <h2><TMPL_VAR SETTINGS.HINT_OK></h2>
                <p>
                <TMPL_VAR SETTINGS.OK_SETTINGS_SAVED>
                </p>
                </td>
        </tr>
        <tr>
                <td align="center">
                <p>
                <a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="./index.cgi?form=<TMPL_VAR FORMNO>"><TMPL_VAR SETTINGS.BUTTON_OK></a>
                </p>
                </td>
        </tr>
        </table>
</center>
</TMPL_IF>
