<script>

$(function() {
	
	interval = window.setInterval(function(){ servicestatus(); }, 5000);
	servicestatus(1);

});

// SERVICE STATE

function servicestatus(update) {

	if (update) {
                $("#servicestatus").attr("style", "background:#dfdfdf").html("<TMPL_VAR "SETTINGS.HINT_UPDATING">");
	}

	$.ajax( { 
			url:  'ajax.cgi',
			type: 'POST',
			data: { 
				action: 'servicestatus'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicestatus Fail", data );
                $("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "SETTINGS.HINT_FAILED">");
	})
	.done(function( data ) {
		console.log( "Servicestatus Success", data );
		if (data.pid) {
                        $("#servicestatus").attr("style", "background:#6dac20; color:black").html("<TMPL_VAR "SETTINGS.HINT_RUNNING"> <span class='small'>PID: " + data.pid + "</span>");
		} else {
                        $("#servicestatus").attr("style", "background:#FF6339; color:black").html("<TMPL_VAR "SETTINGS.HINT_STOPPED">");
		}
	})
	.always(function( data ) {
		console.log( "Servicestatus Finished", data );
	});
}

// SERVICE START_STOP

function servicerestart() {

	clearInterval(interval);
        $("#servicestatus").attr("style", "color:blue").html("<TMPL_VAR "SETTINGS.HINT_EXECUTING">");
	$.ajax( { 
			url:  'ajax.cgi',
			type: 'POST',
			data: { 
				action: 'servicerestart'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicerestart Fail", data );
	})
	.done(function( data ) {
		console.log( "Servicerestart Success", data );
		if (data == "0") {
			servicestatus(1);
		} else {
                        $("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "SETTINGS.HINT_FAILED">");
		}
		interval = window.setInterval(function(){ servicestatus(); }, 5000);
	})
	.always(function( data ) {
		console.log( "Servicerestart Finished", data );
	});
}

</script>

